
<table mat-table style="width: 100%;text-align: center;">
    <tr mat-row>
        <img style="max-height: 400px;" mat-card-image src="assets/img/404.png">
    </tr>
    <tr mat-row>
        <mat-label xxlarge-text  style="margin-top: 15px">Oups! C'est un 404...</mat-label>
    </tr>
    <tr mat-row>
        <mat-label xlarge-text>La page que vous recherchez n'existe pas!</mat-label>
    </tr>
    <tr mat-row>
        <mat-label>Oui il faut un autre logo oui</mat-label>
    </tr>
    <tr mat-row>
        <button mat-raised-button routerLink="/">Retour a l'acceuil</button>
    </tr>
</table>
