<mat-card class="categorie-card" clickable routerLink="/lesson/{{categorie.id}}">
    <mat-card-header style="margin: 0; margin-bottom: 5px;display: block;text-align: right;">
        <mat-icon *ngIf="categorie.id === 2" class="outlined">check_box</mat-icon>
        <mat-icon *ngIf="categorie.id !== 2" class="outlined">lock</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image style="margin: auto;max-width: 100%;" [src]="categorie.img" alt="Photo of a Shiba Inu">
        <mat-card-title style="text-align: center;margin:5px">{{categorie.title}}</mat-card-title>
    </mat-card-content>
    <mat-card-actions>
            <mat-label>Progression : </mat-label>
        <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>                
    </mat-card-actions>
</mat-card>