.categorie-card {
    margin: 15px;
    background-color: #f3faff;
    box-shadow: 1px 1px 1px 1px #2f4d6d;
    max-width: 350px;
    min-width: 200px;
    max-height: 500px;
    min-height: 280px;
}

