<mat-grid-list cols='2' rowHeight="2:1">
    
  
    <div style="width: 100%;text-align: center;margin: 10px 0 10px 0">  
        <table mat-table style="width: 100%;">
            <tr mat-row>
                <div style="width: 20%;margin: 10px 0 10px 0;float: right;margin-right: 5%;">
                    <mat-progress-bar mode="determinate" value="25" class="progress-bar"></mat-progress-bar>
                    <mat-label large-text blue-color>{{unit?.title}} - 25% complété</mat-label>
                </div>
            </tr>
            <tr mat-row>
                <mat-label xxlarge-text blue-color style="margin: 5px">{{unit?.title}}</mat-label>
            </tr>
            <tr mat-row>
                <mat-label large-text style="margin: 5px">{{unit?.label}}</mat-label>
            </tr>
        </table>
    </div>
    <mat-grid-tile [colspan]="2">
        <table mat-table style="width: 100%;text-align: center;font-style: bold;margin: 10px;" blue-color>
            <tr mat-row style="font-size: large;" inline-flex>
                <unit-content-item *ngFor="let course of unit.Unit_Contents" [unit_content]="course"
                    (click)="displayContent(course)">
                </unit-content-item>
            </tr>
        </table>
    </mat-grid-tile>
 
</mat-grid-list>
<div style="margin: 15px;margin-bottom: 5%;" *ngIf="contents.length">
    <div *ngFor="let content of contents; let i = index" style="margin: 10px;text-align: center;">
            <h1>Contenu numero {{i + 1}}</h1>
            <iframe *ngIf="content.type == 'video'" width="560" height="315" [src]="content.url | safeUrl" style="margin: auto"></iframe>
            <object *ngIf="content.type == 'pdf'" [data]="content.url | safeUrl" type="application/pdf" width="100%" height="auto"></object>
            <span *ngIf="content.type == 'txt'">{{content.label}}</span>
    </div>
</div>