<mat-grid-list cols='2' rowHeight="2:1">
    <div style="width: 100%;text-align: center;margin: 10px 0 10px 0">
        <table mat-table style="width: 100%;">
            <tr mat-row>
                <mat-label xxlarge-text blue-color style="margin: 5px">{{unit?.label}}</mat-label>
            </tr>
            <tr mat-row>
                <div style="width: 20%;margin: 10px 0 10px 0;float: right;margin-right: 5%;">
                    <mat-progress-bar mode="determinate" value="25" class="progress-bar"></mat-progress-bar>
                    <mat-label large-text blue-color>{{unit?.label}} - 25% complété</mat-label>
                </div>
            </tr>
        </table>
    </div>
    <mat-grid-tile [colspan]="2">
        <table mat-table style="width: 100%;text-align: center;font-style: bold;margin: 10px;" blue-color>
            <tr mat-row style="font-size: large;" inline-flex>
                <unit-content-item *ngFor="let content of unit.contents" [unit_content]="content"
                    (click)="displayContent(content)">
                </unit-content-item>
            </tr>
        </table>
    </mat-grid-tile>
    <div *ngIf="type == 'video'">
        <mat-grid-tile [colspan]="1">
            <iframe width="100%" height="300" [src]="url | safeUrl" style="width: 80%;"></iframe>
        </mat-grid-tile>
    </div>
    <div *ngIf="type == 'pdf'">
        <mat-grid-tile [colspan]="1">
            <object data="(url | safeUrl)" type="application/pdf">
                <embed src="(url | safeUrl)" type="application/pdf" />
            </object>
        </mat-grid-tile>
    </div>
</mat-grid-list>