<table mat-table style="width: 100%;text-align: center;font-style: bold;margin: 1%" blue-color>
    <tr mat-row style="font-size: x-large">
        <mat-label>Bienvenue {{userCoreService.getUserFullname()}}!</mat-label>
    </tr>
    <tr mat-row style="font-size: large;">
        <mat-label>Choisissez un cours pour démarrer votre apprentissage</mat-label>
    </tr>
</table>
<div class="chip-list">
    <mat-chip-list aria-label="Fish selection">        
        <mat-chip (click)="selectTag(0)" class="filter">Tous</mat-chip>
        <mat-chip *ngFor="let tag of tags" (click)="selectTag(tag.id)"class="filter">{{tag.label}}</mat-chip>
    </mat-chip-list>
</div>
<div style="margin: 2%">
    <table mat-table>
        <tr mat-row inline-flex>
            <div>
                
            </div>
            <categorie-item *ngFor="let categorie of categories" [style.display]="!filter || filter == categorie.TagId ? 'block' : 'none'" [categorie]="categorie"></categorie-item>
        </tr>
    </table>
    <table mat-table>
        <tr mat-row inline-flex>
            <categorie-item *ngFor="let categorie of others" [style.display]="!filter || filter == categorie.TagId ? 'block' : 'none'" [categorie]="categorie" [locked]="true"></categorie-item>
        </tr>
    </table>
</div>
